.whole {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1000px;
}

.introduce {
  position: absolute;
  bottom: 50px;
  font-family: 'Abril Fatface', cursive;
  left: 90px;
}

.myname {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.anakin {
  font-size: 70Px;
  margin: auto 0px;
  padding: auto 0px;
}

.body {
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
  width: 45%;
  margin-top: 30px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
  background: darkgray;
  color: white;
  padding: 15px;
  display: flex;
}

blockquote::before {
  content: '”';
}

h4 {
  font-style: italic;
}

li {
  color: #897e7e;
  font-size: 15px;
}